@import 'styles';

header {
    position: fixed;
    top: 0;
    .logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 4rem;
            height: 4rem;
            padding: 1rem;
            top: 0;
        }
    }
}

@media (min-width: 780px) {
    header {
        .logo-container{
            img {
                width: 6rem;
                height: 6rem;
                padding-top: 4rem;
            }
        }
    }
  }

