@import 'colors';
@import 'text';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    .modal-content {
        background-color: $dark;
        color: $white;

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            a {
                color: $white;
                font-size: 20px;
                padding: 1rem;
            }
        }

        .close-button {
            background-color: $light;
            color: $dark;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 780px) {
    .modal {
        top: 20%;
        width: 100%;
        height: 10%;
        background-color: transparent;
        opacity: 1;
    
        .modal-content {
            nav {
                flex-direction: row;
            }
            .close-button {
                display: none;
            }
        }
    }
}