@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import 'colors';
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.text-white{color:$white;}
.text-dark{color:$dark;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
